body {
	color: green;
	margin : 1rem;
	background-color:white;
}



.main-menu  {
	color:white;
	display:flex;
	flex-direction: row;
	text-transform:uppercase;
	gap:3rem;

}


.App {
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	justify-items:center;
	margin: 2rem;
	gap: 1rem;
	font-size: 0.8rem;
}
.moviename {
	margin-bottom: 0rem;
	margin-top: 0.5rem;
	font-weight: bold;
}
.year {
	margin-top: 0rem;
	font-weight: bold;
}

.displayApp {
	
	display: grid;
	grid-gap: 20px 50px;
	grid-template-columns: auto auto auto auto;
	
}
.addApp {
	text-align: center;
}
.movie-Box{
    padding:1rem;
	text-align: center;
	border-radius:1rem;
}

.nameInput {
	padding: 0.4rem;
	margin: 1rem;
	border-radius: 0.9rem;
}

.imageInput {
	padding: 0.4rem;
	margin: 1rem;
	border-radius: 0.9rem;
}

.yearInput {
	padding: 0.4rem;
	margin: 1rem;
	border-radius: 0.9rem;
}
.descripInput {
	padding: 0.4rem;
	margin: 1rem;
	border-radius: 0.9rem;
}

.newMovieInput{
	display:flex;
	justify-content: space-evenly;
	
}

.trailerInput{
	display:flex;
	justify-content: space-evenly;
	
}
